@model PrintWeb.Data.Document

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
