@model IEnumerable<PrintWeb.Data.PrintingLog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTwoSide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTwoSide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document.DocumentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperType.PaperTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Printer.PrinterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrintingLogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrintingLogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrintingLogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
